@import '../../../config';
@import '../../../utilities';

body {
  background-color: $light-color;
}

#galleryphotocanva__container {
  align-items: baseline;
  max-width: 100%;
  max-height: 100%;
}

.big__picture {
  object-fit: contain;
}
