@import '../../../config';
@import '../../../utilities';

body {
  background-color: $light-color;
}

#galleryphotocanva__container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big__picture {
  max-width: 400px;
  height: auto;
}
