@import '../../../config';
@import '../../../utilities';

body {
  background-color: $light-color;
}

#galleryphotocanva__container {
  background-color: $dark-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.big__picture {
  height: auto;
}
