@import '../../config';
@import '../../utilities';

body {
  background-color: $light-color;
}

$miniature-width: 300px;
$stripe-width: 200px;

#galleryViewer__container {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#galleryViewer__stripe {
  background-color: lightpink;
  max-width: 250px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  scrollbar-color: yellow;
}

#galleryViewer__canva {
  display: flex;
  flex-grow: 2;
  width: 800px;
  background-color: red;
}
