@import '../../../config';
@import '../../../utilities';

body {
  background-color: $light-color;
}

#gallerystripe__container {
  align-content: center;
  background-color: green;
  padding: 10px;
  align-content: center;
  height: 100%;
}

#gallerystripe__mini_picture {
  background-color: lightgray;
  flex-grow: 1;
  margin: 5px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  align-items: center;
  overflow-y: auto;
  overflow-x: hide;
  flex-wrap: nowrap;
}

.mini__picture {
  width: 150px;
  height: 80px;
  border: solid 1px;
  margin: 2px;
  flex-shrink: 0;
  justify-content: center center;
  object-fit: contain;
}
