$color: aquamarine;

.photoTile__wrapper {
  padding: 20px;
  margin: 10px;
  display: display-box;
  align-items: center;
  background-color: $color;
  width: 340px;
  height: 300px;
}

.photoTile__image {
  width: 300px;
  height: 200px;
  border: 1px;
  background-color: 333;
}