.home__wrapper {
  background: url(../../../assets/img/showcase.jpg) no-repeat center center/cover;
  height: 800px;
}

.home__content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

.home__content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.home__content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

.home__lead {
  font-size: 18px;;
}