@import "../../config";

.home__content {
  text-align: center;
  padding-top: 170px;

  & h1 {
    font-size: 60px;
    line-height: 1.2em;
  }

  & p {
    padding-bottom: 20px;
    line-height: 1.7em;
  }
}

.home__lead {
  font-size: 18px;
}

.home__btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #f7c08a;
    color: #333;
  }
}
