@import '../../config';

$color: lightgrey;

.nav {
    background: #333;
    color: #fff;
    overflow: auto;
}

.nav a {
    color: white;

}

.nav h1 {
    float: left;
    padding-top: 20px;
}

.nav ul {
    list-style: none;
    float: right;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

.nav li:hover, .nav ul li a.active {
    background: #777;
    color: #f7c08a;
}

.navbar__site-title {
    font-size: 2rem;
}
