@import '../../config';
@import '../../utilities';

body {
  background-color: $light-color;
}

$miniature-width: 300px;
$stripe-width: 200px;

#galleryViewer__container {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: top;
}

#galleryViewer__stripe {
  background-color: lightpink;
  max-width: 200px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

#galleryViewer__canva {
  background-color: brown;
  padding: 5px;
}
