@import '../../config';
@import '../../utilities';

body {
  background-color: $light-color;
}

#galleryViewer__container {
  box-sizing: border-box;
  background-color: green;
}

#galleryViewer__stripe {
  background-color: darkmagenta;
  height: 80vh;
  width: 15%;
  float: left;
  align-items: center;
}

#galleryViewer__canva {
  background-color: blue;
  height: 80vh;
  width: 84%;
  float: right;
}
