@import '../../config';
@import '../../utilities';

body {
  background-color: $light-color;
}

#galleryViewer__container {
  display: flex;
  flex-direction: row;
  background-color: green;
}

#galleryViewer__stripe {
  background-color: yellow;
  height: 80vh;
}

#galleryViewer__canva {
  background-color: blue;
}
